<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BankingOperation_send_money</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
	<div class="container bg-success bg-opacity-25  bg-gradient border rounded-2 mt-5"
		style="height:600px; width:600px;">


		<div class="col mt-2">
			<a th:href="@{/homepage}" class="btn btn-primary btn-sl"> back </a>
		</div>

		<div class="col text-center ">
			<h1 class=" text-white bg-success bg-opacity-50 bg-gradient border rounded-3  text-center d-inline">Pay
				My Buddy</h1>
		</div>

		<div class="col text-center mt-2">
			<h2 class="text-white bg-success bg-opacity-50 bg-gradient border rounded-3  text-center d-inline">
				BankingOperation send money</h2>
		</div>

		<div class="container">
			<form th:action="@{/bankingOperation_send_money}" th:object="${recupValue}" method="POST">
				<div class="row  mt-4">
					<div class="col form-group">
						<h4 class="text-white text-start">balance:</h4>
					</div>
					<div class="col form-group">
						<input th:field="*{FloatValue2}" class="form-control w-100 bg-success bg-opacity-25 bg-gradient"
							disabled />
					</div>
					<div class="col">
					</div>
					<div class="col">
					</div>
				</div>
				<div class="row  mt-5">
					<div class="col form-group">
						<h4 class="text-white text-start">Which buddy:</h4>
					</div>
				</div>
				<div class="row">
					<div class="col form-group">
						<input th:field="*{StringValue2}" class="form-control" placeholder="Enter buddy email" />
					</div>
				</div>
				<div class="row mt-5 ">
					<h4 class=" text-white"> How Much money do you want to send ? </h4>
				</div>
				<div class="row">
					<div class="col form-group ">
						<input type="number" step="any" th:field="*{FloatValue1}" min="0" max="9999"
							class="form-control w-100" />

					</div>
					<div class="col form-group">
						<button type="submit" class="btn btn-primary w-100">
							SendMoney
						</button>
					</div>
					<div class="col">
					</div>
					<div class="col">
					</div>
				</div>



				<div class="row  mt-5">
					<div class="col form-group">
						<h4 class="text-white text-start">description:</h4>
					</div>
				</div>
				<div class="row  mt-1">
					<div class="col form-group">
						<input th:field="*{StringValue1}" class="form-control" placeholder="Enter description" />
					</div>
				</div>
			</form>

		</div>

	</div>



</body>

</html>