<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>homepage</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
	<div class="container bg-success bg-opacity-25  bg-gradient border rounded-2 mt-5"
		style="height:600px; width:600px;">


		<div class="col mt-2">
			<a th:href="@{/paymybuddy}" class="btn btn-primary btn-sl"> back </a>
		</div>


		<div class="col text-center ">

			<h1 class=" text-white bg-success bg-opacity-50 bg-gradient border rounded-3  text-center d-inline">Pay
				My Buddy</h1>
		</div>

		<div class="container" style="width:400px;">
			<div class="col mt-5 text-center">
				<a th:href="@{/user_add_money}" class="btn btn-primary btn-sl w-100"> add money </a>
			</div>
			<div class="col mt-2 text-center">
				<a th:href="@{/user_send_money}" class="btn btn-primary btn-sl w-100"> send money </a>
			</div>
			<div class="row">
				<div class="col mt-5 text-end">
					<a th:href="@{/account/account_create}" class="btn btn-primary btn-sl w-100"> add account </a>
				</div>
				<div class="col mt-5 text-start">
					<a th:href="@{/user_del_account}" class="btn btn-primary btn-sl w-100"> del account </a>
				</div>
			</div>
			<div class="row">
				<div class="col mt-2 text-end">
					<a th:href="@{/user/user_add_buddy}" class="btn btn-primary btn-sl w-100"> add buddy </a>
				</div>
				<div class="col mt-2 text-start">
					<a th:href="@{/user/user_del_buddy}" class="btn btn-primary btn-sl w-100"> del buddy </a>
				</div>
			</div>

			<div class="col mt-5 text-center ">
				<a th:href="@{/user_history}" class="btn btn-primary btn-sl w-100"> history </a>
			</div>
			<div class="col mt-2 text-center">
				<a th:href="@{/user_update_my_profil}" class="btn btn-primary btn-sl w-100"> update my profil </a>
			</div>

			<div class="col mt-2 text-center">
				<a th:href="@{/logout}" class="btn btn-primary btn-sl w-100"> logout </a>
			</div>

		</div>

</body>

</html>